.to-do {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.1);
}
.to-do .todo-input {
  padding: 10px 15px;
  font-size: 24px;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  box-sizing: border-box;
}
.to-do .todo-input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}
.to-do .todo-input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}
.to-do .todo-input::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}
.to-do .control {
  border-bottom: solid 1px #EDEDED;
  border-top: solid 1px #EDEDED;
  padding: 2px 15px;
  background: #f6f7f9;
  margin: 0 -15px;
  display: flex;
  flex-direction: row;
}
.to-do .control .main {
  flex: 1;
}
.to-do .footer {
  border-top: solid 1px #EDEDED;
  padding-top: 10px;
}
.to-do .no-data {
  padding: 30px;
  text-align: center;
  font-size: 13px;
  color: #c1c5cf;
}
.to-do .td-btn {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  color: #616a72;
  padding: 2px;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.to-do .td-btn:hover {
  color: #2f4456;
}
.to-do .td-btn.is-checked {
  color: #05AA86;
}
.to-do .td-input {
  outline: none;
  padding: 10px 15px;
  border: solid 1px #EDEDED;
  border-radius: 4px;
  box-sizing: border-box;
}
.to-do .td-input:hover {
  border-color: #b7b7b7;
}
.to-do .td-input:focus {
  border-color: #1ca4fb;
}
.to-do .td-input.td-input--block {
  display: block;
  width: 100%;
}
.board {
  display: flex;
  flex-direction: row;
  padding: 5px 0;
}
.board .board-content {
  overflow: hidden;
}
.board .board-right {
  flex: 1;
  padding: 0 10px;
}
.board .board-item,
.board .bt-add-board,
.board .bt-remove-board {
  border-radius: 50px;
  background: none;
  outline: none;
  border: solid 1px #e0e4ec;
  padding: 0px 15px;
  font-size: 13px;
  cursor: pointer;
  color: #BCC1CB;
  margin-right: 10px;
  margin-bottom: 10px;
  line-height: 25px;
}
.board .board-item:hover,
.board .bt-add-board:hover,
.board .bt-remove-board:hover {
  color: #A2A2A5;
  border-color: #A2A2A5;
}
.board .board-item.is-active,
.board .bt-add-board.is-active,
.board .bt-remove-board.is-active {
  border-color: #31A5F7;
  color: #31A5F7;
}
.board .bt-add-board {
  border-style: dashed;
  margin-bottom: 0;
}
.board .bt-remove-board {
  border-style: none;
  padding: 0;
  color: #676e75;
}
.board .bt-remove-board:hover {
  color: #F74D50;
}
.board .board-input {
  border: none;
  outline: none;
  width: auto;
  max-width: 100px;
  line-height: 24px;
}
.board .board-input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}
.board .board-input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}
.board .board-input::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}
.todo-status {
  display: inline-block;
  line-height: 24px;
  font-size: 12px;
  color: #686d7d;
}
.todo-status .status-item {
  display: inline-block;
}
.todo-status .status-item + .status-item::before {
  content: '·';
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
}
.todo-status .status-item .number {
  font-weight: 500;
  color: #616a73;
}
.todo-status .status-item .number.info {
  color: #31A5F7;
}
.todo-status .status-item .number.error {
  color: #ea0d0d;
}
.todo-status .status-item .number.success {
  color: #06ce91;
}
.todo-status .status-item .number.warn {
  color: #f59504;
}
.todo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.todo-list .td-delete-todo {
  width: 20px;
  height: 20px;
  background: #dbdde0;
  border-radius: 20px;
  vertical-align: middle;
  margin-right: 0;
}
.todo-list .td-delete-todo:hover {
  color: #EA0D0D;
}
.todo-list .todo-item {
  padding: 10px 5px;
  font-size: 20px;
  border-bottom: solid 1px #EDEDED;
  display: flex;
  flex-direction: row;
}
.todo-list .todo-item:last-child {
  border-bottom: none;
}
.todo-list .todo-item .content {
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.todo-list .todo-item .content .title {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.todo-list .todo-item.is-done .content {
  text-decoration: line-through;
  color: #bec2cb;
}
.todo-list .todo-item .left {
  margin-right: 5px;
}
.todo-list .todo-item:hover .td-delete-todo {
  display: inline-block;
}
.todo-list .todo-item .todo-time {
  font-size: 12px;
  padding: 5px;
  color: #848994;
}
