.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  animation: color-in 0.3s ease-in;
  z-index: 1000;
  overflow: auto;
}
.modal {
  min-width: 350px;
  border-radius: 4px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 150px;
  transform: translateX(-50%);
  box-shadow: 0 5px 20px rgba(26, 26, 26, 0.1);
  overflow: hidden;
  animation: slide-down-in 0.3s ease;
}
.modal-header {
  padding: 15px;
  position: relative;
}
.modal-header .close {
  width: 18px;
  height: 18px;
  line-height: 15px;
  font-weight: 600;
  font-size: 16px;
  padding: 0;
  text-align: center;
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  color: #909399;
}
.modal-header .close:hover {
  color: #ef4848;
}
.modal-title {
  font-size: 15px;
  font-weight: 500;
}
.modal-footer {
  padding: 15px;
}
.modal-content {
  padding: 15px;
  overflow: auto;
}
@keyframes color-in {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
@keyframes slide-down-in {
  0% {
    transform: translate3d(-50%, -50px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(-50%, 0, 0);
    opacity: 1;
  }
}
