body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #21252B;
  background-color: #FAFAFA;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.main-container {
  width: 680px;
  margin: 0 auto;
}
.todo-box {
  margin: 0 auto;
  margin-top: 30px;
}
.todo-box .app-title {
  text-align: center;
  color: #D6D8E0;
}
.website-footer {
  margin-top: 50px;
  height: 100px;
}
.website-footer .copyright {
  text-align: center;
  font-size: 12px;
  color: #696d7c;
}
.website-footer .copyright a {
  color: inherit;
  text-decoration: none;
}
