.checkbox {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  line-height: 24px;
}
.checkbox label {
  font-size: 0;
}
.checkbox .status {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: solid 1px #e0e4eb;
  border-radius: 20px;
  cursor: pointer;
  margin: 2px;
  box-sizing: border-box;
  position: relative;
  transition: transform 0.1s ease-in-out;
}
.checkbox .status:hover {
  border-color: #A2A2A5;
}
.checkbox input {
  display: none;
}
.checkbox input:checked + .status {
  border-color: #31A5F7;
}
.checkbox input:checked + .status::after {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  left: 2px;
  top: 2px;
  background-color: #31A5F7;
  border-radius: 14px;
}
.checkbox input:active + .status {
  transform: scale(0.8);
}
